#include "Generated.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"

// Suppress deprecation warnings
OTHER_SWIFT_FLAGS = $(inherited) -suppress-warnings
SWIFT_SUPPRESS_WARNINGS = YES

// Set minimum deployment target
IPHONEOS_DEPLOYMENT_TARGET = 12.0

// User script sandboxing
ENABLE_USER_SCRIPT_SANDBOXING = NO 